:root {
    /* color scheme from Evermore Branding's
       Autumn Spice Rustic Fall Color Palette */
    --viridian: #4f544b;
    --spice: #732c02;
    --mahogany: #401201;
    --mist: #e0e1da;
    --storm: #3f505d;
}