:root {
    /* color scheme from Evermore Branding's
       Autumn Spice Rustic Fall Color Palette */
    --viridian: #4f544b;
    --spice: #732c02;
    --mahogany: #401201;
    --mist: #e0e1da;
    --storm: #3f505d;
}
body {
    margin: 0;
    color: var(--mist);
    background-color: var(--storm);
}
nav {
    width: 100vw;
    height: 20vh;
    padding: 1rem 2rem;
    background-color: var(--spice);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    border-bottom: 2pt solid var(--mahogany);
}
h1,
h2 {
    padding: 1rem;
    border: 1pt solid var(--mahogany);
}